<a href="https://colab.research.google.com/github/2003006/W4IP-PYTHON/blob/main/GLORIAWEEK4IP%2Cipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####1.0 Importing Libraries.

In [2]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd

# Importing the numpy library
#
import numpy as np

####1.1 Loading our dataset.

In [3]:
#reading  data from the CSV file and creating the dataframe that i will use
fd = pd.read_csv('/content/Autolib_dataset (2).csv')

####1.2 Previewing our dataset.

In [4]:
#previewing my first 2 rows
fd.head(2)

                     Address  Cars  Bluecar counter  ...  day  hour  minute
0        2 Avenue de Suffren     0                0  ...    8    11      43
1  145 Rue Raymond Losserand     6                6  ...    6     7      24

[2 rows x 25 columns]

####1.3 Accessing information about my dataset

In [5]:
#getting information about my dataset
fd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

####1.4 Performing data cleaning to my dataset

######1.40 Validity

Dropping columns.

In [6]:
#i am going to drop columns that i won't be needing in analysis
#this columns i won't be needing them and they all contain null values
fd.drop(['Displayed comment','Scheduled at'],axis=1, inplace=True)

In [7]:
#i have dropped cars column since it contains data same as that of bluecar counter
#dropped year and month since in the data description we already know the data was collected from same month and year
# dropped geo point since i wont be needing it in analysis 
fd.drop(['Cars','ID','Geo point','year','month'],axis=1,inplace=True)

In [8]:
#viewing the remaining columns
fd.head(2)

                     Address  Bluecar counter  ...  hour  minute
0        2 Avenue de Suffren                0  ...    11      43
1  145 Rue Raymond Losserand                6  ...     7      24

[2 rows x 18 columns]

######1.41 Accuracy

Checking the shape of my dataset after dropping

In [9]:
#before dropping the columns not needed i had 24columns and 5000 rows
fd.shape

#after dropping columns i had 18 columns and 5000 rows
#concluding that it is accurate

(5000, 18)

Accuracy for bluecar counter

In [13]:
#valus in blue car counter ranges from 0-7 ,7 included
values = fd[(fd['Bluecar counter'] < 0) & (fd['Bluecar counter'] >= 7) ].index
fd.drop(values , inplace=True)

In [14]:
fd.shape
#no change in the shape of my dataset

(5000, 18)

Accuracy for Utilib counter

In [16]:
#values for utilib counter ranges from 0-4, 4 included
values = fd[(fd['Utilib counter'] < 0) & (fd['Utilib counter'] >= 4) ].index
fd.drop(values , inplace=True)

In [17]:
fd.shape
#no change occurred in the shape of my dataset

(5000, 18)

Accuracy for my utilib 1.4 counter

In [18]:
#values for utilib 1.4 counter ranges from 0-5, 5 included
values = fd[(fd['Utilib 1.4 counter'] < 0) & (fd['Utilib 1.4 counter'] >= 4) ].index
fd.drop(values , inplace=True)

In [19]:
fd.shape
#no change occured in the shape hence my data was accurate

(5000, 18)

Accuracy for Utilib 1.4 counter

######1.42 Completeness

Checking for null values

In [17]:
#i will start by checking for null values
fd.isnull().sum()

#there are no null values in my dataset

Address                0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
Kind                   0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
day                    0
hour                   0
minute                 0
dtype: int64

######1.43 Consistency

Checking for duplicates

In [19]:
#i will be checking for duplicates in my datset
fd.duplicated().sum()

0

######1.41 Uniformity

In [23]:
#i will change my column names to lower case and remove all spaces and white spaces
fd.columns = fd.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [22]:
#previewing my dataset
fd.head(2)

                     address  bluecar_counter  ...  hour  minute
0        2 Avenue de Suffren                0  ...    11      43
1  145 Rue Raymond Losserand                6  ...     7      24

[2 rows x 18 columns]

####1.5 Exporting Cleaned Dataset

In [20]:
# exporting my cleaned dataframe into a csv file 
# the cleaned dataset will be used during my data analysis

fd.to_csv('/content/Autolib_dataset (2).csv',index=False)

In [24]:
#previewing my first two rows of my cleaned dataset.
fd.head(2)

                     address  bluecar_counter  ...  hour  minute
0        2 Avenue de Suffren                0  ...    11      43
1  145 Rue Raymond Losserand                6  ...     7      24

[2 rows x 18 columns]

####1.6 Data Analysis

######1.51 Research Question.

***Most popular hour of the day for picking up a bluecar in the city of Paris***

In [25]:
#for picking up cars means in the station the count is zero
#although for returning the count is greater than 0
#NB
#here we have been asked for picking
fd.loc[(fd['bluecar_counter'] == 0) & (fd['city'] == 'Paris')]['hour'].value_counts().sort_values(ascending = False).head(1)

#most popular hour is 2

2    54
Name: hour, dtype: int64

######1.52 Bonus Questions

***What is the most popular hour of returning cars***.

In [31]:
#cars that is blue car, utilib_counter and utilib_1.4_counter
fd.loc[(fd['bluecar_counter'] > 0) & (fd['utilib_counter'] > 0) & (fd['utilib_1.4_counter'] > 0)]['hour'].value_counts().sort_values(ascending=False).head(1)

#most popular hour is 14

14    5
Name: hour, dtype: int64

What station is the most popular overall

In [34]:
#in the dataset description it has said the public name represents stations
fd.groupby('station_type')['public_name'].value_counts().sort_values(ascending=False).head(1)

station_type  public_name
station       Paris/Porte de Montrouge/8    13
Name: public_name, dtype: int64

Most popular station for picking at the most picking hour

In [41]:
#identify the most picking hour first
fd.loc[(fd['bluecar_counter'] == 0) & (fd['utilib_counter'] == 0) & (fd['utilib_1.4_counter'] == 0)].groupby(['hour'])['hour'].value_counts().sort_values(ascending =False).head(1)

hour  hour
14    14      70
Name: hour, dtype: int64

In [43]:
#locating the station at the most popular hour
fd.loc[(fd['bluecar_counter'] == 0) & (fd['utilib_counter'] == 0) & (fd['utilib_1.4_counter'] == 0) & (fd['hour'] == 14)]['public_name'].value_counts().sort_values(ascending =False).head(1)

Paris/Aumale/28    3
Name: public_name, dtype: int64

What postal code is the most for picking up blue cars.

In [44]:
fd.loc[fd['bluecar_counter'] == 0]['postal_code'].value_counts().sort_values(ascending = False).head(1)

75008    94
Name: postal_code, dtype: int64

Station for picking up blue cars

In [47]:
fd.loc[(fd['bluecar_counter'] == 0)]['public_name'].value_counts().sort_values(ascending=False).head(1)

Paris/Grenelle 31/Parking    11
Name: public_name, dtype: int64

Station for picking up cars overall

In [49]:
fd.loc[(fd['bluecar_counter'] == 0) & (fd['utilib_counter'] == 0) & (fd['utilib_1.4_counter'] == 0) & (fd['hour'] == 14)]['public_name'].value_counts().sort_values(ascending =False).head(1)

Paris/Aumale/28    3
Name: public_name, dtype: int64

Does the postal code for picking up blue car belong to the public name(station) for  picking up most blue cars

In [51]:
fd.loc[(fd['postal_code'] == 75008) & (fd['public_name'] == 'Paris/Grenelle 31/Parking')]

#this means that it  doesn't belong

Empty DataFrame
Columns: [address, bluecar_counter, utilib_counter, utilib_1.4_counter, charge_slots, charging_status, city, kind, postal_code, public_name, rental_status, slots, station_type, status, subscription_status, day, hour, minute]
Index: []

Does the most popular postal code for picking up blue car belong to the most popular public name  for the picking up most blue cars at the most picking hour(blue car)

In [54]:
fd.loc[(fd['postal_code'] == 75008) & (fd['public_name'] == 'Paris/Grenelle 31/Parking') & (fd['hour'] == 2)]

#It doesn't belong.

Empty DataFrame
Columns: [address, bluecar_counter, utilib_counter, utilib_1.4_counter, charge_slots, charging_status, city, kind, postal_code, public_name, rental_status, slots, station_type, status, subscription_status, day, hour, minute]
Index: []

**Considering utilib**

   Station for picking up utilib car

In [56]:
fd.loc[(fd['utilib_counter'] == 0)]['public_name'].value_counts().sort_values(ascending=False).head(1)

Paris/Courcelles/69    11
Name: public_name, dtype: int64

Postal code for picking up utilib_counter

In [58]:
fd.loc[fd['utilib_counter'] == 0]['postal_code'].value_counts().sort_values(ascending = False).head(1)

75015    257
Name: postal_code, dtype: int64

Does the Postal code for picking up utilib belong to its public name(station)

In [59]:
fd.loc[(fd['postal_code'] == 75015) & (fd['public_name'] == 'Paris/Courcelles/69')]
#doesnf belong

Empty DataFrame
Columns: [address, bluecar_counter, utilib_counter, utilib_1.4_counter, charge_slots, charging_status, city, kind, postal_code, public_name, rental_status, slots, station_type, status, subscription_status, day, hour, minute]
Index: []

Most time for picking utilb cars

In [62]:
fd.loc[(fd['utilib_counter'] == 0)]['hour'].value_counts().sort_values(ascending = False).head(1)

21    225
Name: hour, dtype: int64

Does the postal code for pmicking up utilib belong to the postal code for the picking up most blue cars at the most picking hour(utilib)

In [63]:
fd.loc[(fd['postal_code'] == 75015) & (fd['public_name'] == 'Paris/Courcelles/69') & (fd['hour'] == 21)]

#no it doesnt belong

Empty DataFrame
Columns: [address, bluecar_counter, utilib_counter, utilib_1.4_counter, charge_slots, charging_status, city, kind, postal_code, public_name, rental_status, slots, station_type, status, subscription_status, day, hour, minute]
Index: []

Considering utilib_1.4

Station for picking up utilib_1.4

In [64]:
fd.loc[(fd['utilib_1.4_counter'] == 0)]['public_name'].value_counts().sort_values(ascending=False).head(1)

Paris/Voltaire/182    11
Name: public_name, dtype: int64

Postal code for picking utilib_1.4

In [65]:
fd.loc[fd['utilib_1.4_counter'] == 0]['postal_code'].value_counts().sort_values(ascending = False).head(1)

75015    245
Name: postal_code, dtype: int64

Does the Postal code for picking up utilib 1.4 counter belong to its most popular public name(station)

In [66]:
fd.loc[(fd['postal_code'] == 75015) & (fd['public_name'] == 'Paris/Voltaire/182')]
# it doesnt belong

Empty DataFrame
Columns: [address, bluecar_counter, utilib_counter, utilib_1.4_counter, charge_slots, charging_status, city, kind, postal_code, public_name, rental_status, slots, station_type, status, subscription_status, day, hour, minute]
Index: []

Most picking hour for the util_1.4_counter

In [67]:
fd.loc[(fd['utilib_1.4_counter'] == 0)]['hour'].value_counts().sort_values(ascending = False).head(1)

21    214
Name: hour, dtype: int64

Does the postal code for picking up utilib_1.4 belong to the postal code for the picking up most utilib_1.4 cars at the most picking hour of utilib 1.4 counter

In [68]:
fd.loc[(fd['postal_code'] == 75015) & (fd['public_name'] == 'Paris/Voltaire/182') & (fd['hour'] == 21)]

Empty DataFrame
Columns: [address, bluecar_counter, utilib_counter, utilib_1.4_counter, charge_slots, charging_status, city, kind, postal_code, public_name, rental_status, slots, station_type, status, subscription_status, day, hour, minute]
Index: []

####1.4 Recommendations

I would recommend the following,
a)The most popular station for picking up electric bluecar counter, electric utilib counter and utilib 1.4 counter which are Paris/Grenelle 31/Parking , Paris/Courcelles/69 and Paris/Voltaire/182 respectively should be considered for expansions, renovations if need be and  even increasing the charging slots. The most popular station overall which is Paris/ Porte de Montrouge/8 should also be considered for such.
The most popular hour for picking up a bluecar counter which is 0200 hours and 2100 for both utilib counter and utilib 1.4 counter should be put into consideration. They can say at those specific times ,employees working at the station to be more than any other times.

b)The most popular hour for picking up a bluecar counter which is 0200 hours and 2100 for both utilib counter and utilib 1.4 counter should be put into consideration. They can say at those specific times ,employees working at the station to be more than any other times.